@import 'mixin';

body#about {
    background-color: #1e1e1e;
    color: #e1e1e1;
}

#about {
    a {
        color: #e1e1e1;
    }

    .mainvisual {
        padding-top: 200px;
        @include slash-section;
    }

    .mainvisual__main-phrase {
        @include main-phrase;
    }

    .mainvisual__sub-phrase {
        @include sub-phrase;
    }

    .business {
        @include slash-section;
        position: relative;
        background: radial-gradient( #767676 0%, #1e1e1e 70%);
        height: 1000px;
    }

    .business__circle-list {
        position: relative;
        height: 100%;
    }

    .business__circle-item {
        position: absolute;
        height: 500px;
        width: 500px;
        border-radius: 50%;
        background: linear-gradient(164deg, #323232 0%, #767676 100%);
        display: flex;
        align-items: center;
        text-align: center;
        z-index: 2;

        &:nth-of-type(1) {
            left: 50%;
            transform: translateX(-50%);
        }

        &:nth-of-type(2) {
            top: 600px;
            transform: translateY(-50%);
        }

        &:nth-of-type(3) {
            top: 600px;
            left: 100%;
            transform: translate3D(-100%, -50%, 0);
        }
    }

    .business__back-circle {
        position: absolute;
        width: 1200px;
        height: 500px;
        border: solid #fff 1.5px;
        border-radius: 50%;
        transform: rotate(10deg);
        top: 300px;
        z-index: 1;
    }

    .business__title {
        font-weight: bold;
        font-size: 3rem;
        margin-bottom: 30px;
    }

    .business__border {
        width: 60%;
        margin: 0 auto;
        border: solid #fff 1.5px;
        margin-bottom: 30px;
    }

    .business__detail {
        width: 80%;
        margin: 0 auto;
        font-weight: 300;
    }

    .reskilling {
        @include slash-section;
    }

    .reskilling__main-phrase {
        @include main-phrase;
    }

    .reskilling__content {
        @include split-screen;
    }

    .reskilling__text {
        @include text-area;
    }

    .reskilling__sub-phrase {
        @include sub-phrase;
    }

    .reskilling__image {
        @include image-area
    }

    .consulting {
        @include slash-section;
    }

    .consulting__main-phrase {
        @include main-phrase;
    }

    .consulting__content {
        @include split-screen;
    }

    .consulting__text {
        @include text-area;
    }

    .consulting__sub-phrase {
        @include sub-phrase;
    }

    .consulting__image {
        @include image-area
    }

    .training {
        @include slash-section;
    }

    .training__main-phrase {
        @include main-phrase;
    }

    .training__content {
        @include split-screen;
    }

    .training__text {
        @include text-area;
    }

    .training__sub-phrase {
        @include sub-phrase;
    }

    .training__image {
        @include image-area
    }
}